keystore.filename=
keystore.password=
keystore.type=pkcs12

keystore.private_key.alias=
keystore.private_key.password=

truststore.filename=
truststore.password=
truststore.type=pkcs12

keycloak.baseUrl=
keycloak.realm=governikus-extern
keycloak.issuer=validation-service
keycloak.subject=validation-service

validationService.baseUrl=
validationService.endPoint=/v1/validate